@use "./utils/variables";
@use "./utils/mixins";
@use "./utils/containers";

// Layout
@use "./layout/header";
@use "./layout/footer";
@use "./layout/sideMenu";

// Components
@use "./components/inputs";
@use "./components/buttons";
@use "./components/serviceFilters";
@use "./components/searchBar";
@use "./components/cards";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: #f5f5f5;
}

*::-webkit-scrollbar {
  display: none;
}

/* Ocultar scrollbar*/
* {
  scrollbar-width: none;    
  -ms-overflow-style: none; 
}

main{
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px;
}