@use "./utils/variables";
@use "./utils/mixins";
@use "./utils/containers";

// Layout
@use "./layout/header";
@use "./layout/footer";

// Components
@use "./components/inputs";
@use "./components/buttons";
@use "./components/serviceCard";
@use "./components/serviceFilters";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: #f5f5f5;
}

*::-webkit-scrollbar {
  display: none;
}

/* Ocultar scrollbar*/
* {
  scrollbar-width: none;    
  -ms-overflow-style: none; 
}