@use "../../utils/variables";

.usuario-login {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background: variables.$background;
}

.usuario-login__form {
    width: 100%;
    max-width: 550px;
    background: variables.$cards;
    padding: 35px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

.usuario-login__title {
    font-family: variables.$font-title;
    font-size: 40px;
    font-weight: 700;
    color: variables.$primary;
    text-align: center;
    margin-bottom: 0px;
}

.usuario-login__hint {
    font-size: 18px;
    color: #9ca3af;
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: center;
}

.usuario-login__input-wrapper {
    position: relative;
    width: 100%;

    display: flex;
    align-items: center;

    img {
        position: absolute;
        left: 16px;
        width: 26px;
        height: 26px;
        opacity: 0.8;
    }
}

.usuario-login__input {
    width: 100%;
    padding: 14px 18px;
    background: #fff;
    border: none;
    border-radius: 12px;
    font-family: variables.$font-text;
    font-size: 20px;
    padding-left: 55px !important;
}

.usuario-login__icon {
    position: absolute;
    left: 16px;
    width: 26px;
    height: 26px;
}

.usuario-login__showpass {
    position: absolute;
    right: 14px;
    font-size: 20px;
    cursor: pointer;
}

.usuario-login__error {
    color: variables.$error;
    text-align: center;
    font-size: 18px;
}

.usuario-login__forgot {
    text-align: center;
    font-family: variables.$font-title;
    font-size: 30px;
    font-weight: bold;
    color: #09233e;
    cursor: pointer;
    margin-top: 5px;

    &:hover {
        opacity: 0.7;
    }
}

.btn_cta{
    background-color: variables.$success-hover;

    &:hover{
        background-color: variables.$success;
    }
}

.header {
    .header__content {
        justify-content: center;
        display: flex;

        // iconos
        .header__menu,
        .searchbar {
            display: none;
        }
    }
}

@media (max-width: 768px) {
  .usuario-login__form {
    padding: 25px;
  }

  .usuario-login__title {
    font-size: 32px;
  }

  .usuario-login__hint {
    font-size: 16px;
  }

  .usuario-login__input {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .usuario-login {
    padding: 20px 10px;
  }

  .usuario-login__form {
    padding: 20px;
    border-radius: 16px;
  }

  .usuario-login__title {
    font-size: 26px;
  }

  .usuario-login__hint {
    font-size: 14px;
  }

  .usuario-login__input {
    font-size: 16px;
    padding-left: 45px !important;
  }

  .usuario-login__forgot {
    font-size: 20px;
  }
}

@media (max-width: 360px) {
  .usuario-login__title {
    font-size: 22px;
  }

  .usuario-login__input {
    font-size: 14px;
  }
}

@media (max-width: 300px) {
  .usuario-login__title {
    font-size: 18px;
  }

  .usuario-login__input {
    font-size: 13px;
  }
}