// 🎨 Colors
$primary: #09233E;
$primary-hover: #0D355B;

$secondary: #ABB0B4;

$background: #F4F7F6;
$cards: #E8ECEB;

$title: #09233E;
$text: #4A5E71;
$text-muted: #6F7F8D;

$success: #1C8F6A;
$success-hover: #17785A;

$error: #A10E07;
$error-hover: #8F0906;

// 🖋 Typography
$font-title: "Nunito", sans-serif;
$font-text: "Inter", sans-serif;
