.mudanza-v2 {
  max-width: 760px;
  margin: auto;
  padding: 40px 20px;

  &__block {
    background: #fff;
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 16px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.04);

    h2 {
      margin-bottom: 20px;
      color: #09233E;
      font-size: 18px;
    }

    input,
    select {
      width: 100%;
      padding: 10px;
      margin-bottom: 12px;
      border-radius: 8px;
      border: 1px solid #E3E8EE;
      font-size: 14px;
    }

    label {
      font-size: 13px;
      font-weight: 500;
      margin-bottom: 6px;
      display: block;
      color: #6F7F8D;
    }
  }
}