@use "../../utils/variables";

.empresa-register {
  background: variables.$background;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 40px 20px;

  &__card {
    background: #ffffff;
    width: 100%;
    max-width: 650px;
    padding: 30px 35px;
    border-radius: 16px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(6px);
  }

  &__title {
    font-family: variables.$font-title;
    font-size: 36px;
    font-weight: bold;
    color: variables.$primary;
    text-align: center;
    margin-bottom: 20px;
  }

  &__error {
    background: #ffe5e5;
    border: 1px solid #ffaaaa;
    color: #a10000;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
  }

  /* Icono de ayuda */
  &__help {
    position: absolute;
    right: 55px;
    top: 30px;
    font-size: 23px;
    color: variables.$primary;
    font-weight: bold;
    cursor: pointer;
  }

  /* Tooltip */
  &__tooltip {
    position: absolute;
    right: 0;
    top: 80px;
    background: #ffffff;
    padding: 12px;
    width: 260px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    color: variables.$text;
    z-index: 20;
  }

  /* Textos login */
  &__login-text {
    margin-top: 20px;
    text-align: center;
    font-family: variables.$font-text;
    color: variables.$text-muted;
  }

  &__login-link {
    color: variables.$primary;
    font-weight: bold;
    cursor: pointer;
  }

  /* Textos login */
  &__code-text {
    margin-left: 15px;
    margin-bottom: 10px;
    text-align: justify;
    font-family: variables.$font-text;
    color: variables.$text-muted;

    span{
      font-weight: 600;
    }
  }

  #code_card {
    height: auto;
    max-height: 380px !important;
  }

}

.empresa-register__help-contact {
    margin-top: 18px;
    text-align: left;
    font-size: 14px;
    color: variables.$text-muted;
    line-height: 1.5;

    a {
        color: variables.$success;
        font-weight: 600;
        font-size: 16px;
        text-decoration: none;
        transition: .2s ease;
        
        &:hover {
            color: variables.$success-hover;
        }
    }
}

.header {
  .header__content {
    justify-content: center;
    display: flex;
  }
}

.header .header__content .header__icon, .header .header__content .header__menu {
    display: none;
}

@media (max-width: 480px) {
  .empresa-register {

    padding: 20px 10px;

    &__card {
      padding: 20px;
    }

    &__title {
      font-size: 26px;
    }

    &__subtitle {
      font-size: 16px;
    }

    &__tooltip {
      width: 90%;
      right: 50%;
      transform: translateX(50%);
    }
  }
}

@media (max-width: 360px) {
  .empresa-register {

    &__title {
      font-size: 22px;
    }

    &__subtitle {
      font-size: 14px;
    }
  }
}

@media (max-width: 300px) {
  .empresa-register {

    &__title {
      font-size: 18px;
    }
  }
}