@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../utils/containers";

.footer {
  width: 100%;
  background: $secondary;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;

  .footer__content {
    text-align: center;
    color: white;
    font-family: $font-title;
    font-size: 20px;
    font-weight: 600;
  }
}
