.side-menu {
  position: absolute;
  top: 120px;
  right: 20px;
  background-color: #E8ECEB;
  padding: 25px;
  border-radius: 12px;
  z-index: 50;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 22px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    width: 38px;
  }

  span {
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    color: #09233E;
  }
}
