@use "../utils/variables";

.service-filters {
  position: relative;

  &__trigger {
    width: 220px;
    height: 65px;
    background: variables.$cards;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-family: variables.$font-text;
    font-weight: 600;
    font-size: 20px;
    color: variables.$primary;
    transition: background 0.2s ease;

    .service-filters__arrow {
      width: 15px;
      font-size: 25px;
      transition: transform 0.2s ease;
      text-align: center;
      justify-content: center;
      align-items: center;

      &.open {
        transform: rotate(300deg);
      }
    }
  }

  &__label {
    flex: 1;
    text-align: center;
  }

  &__status {
    font-size: 15px;
    opacity: 0.8;
    font-weight: 400;
  }

  &__dropdown {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    z-index: 20;
    overflow: hidden;
  }

  .dropdown-item {
    width: 100%;
    padding: 14px 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    background: transparent;
    border: none;
    cursor: pointer;

    font-family: variables.$font-text;
    font-size: 20px;
    font-weight: 500;
    color: variables.$primary;

    img {
      width: 35px;
      height: 30px;
      transition: filter 0.2s ease;
    }

    &:hover {
      background: variables.$primary;
      color: #fff;
      font-size: 26px;

      img {
        filter: brightness(0) invert(1);
        margin-left: 10px;
      }
    }
  }
}