@use "../utils/variables";

.service-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 420px;
    margin: 0px auto;
    padding: 18px;
    background: variables.$background;
    font-family: variables.$font-text;
    color: variables.$primary;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    border-left: 10px solid variables.$primary;
    border-top: 1px solid variables.$text-muted;
    border-bottom: 1px solid variables.$text-muted;
    border-right: none;

    &__title {
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: start;
        margin-bottom: 10px;
    }

    &__tag {
        display: inline-flex;
        align-items: center;
        gap: 10px;

        background: transparent;
        color: variables.$primary;
        font-size: 30px;
        font-weight: 600;

        margin-bottom: 10px;
        padding: 0;

        &::before {
            content: "";
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: variables.$primary;
            display: inline-block;
        }
    }

    &__route {
        font-size: 24px;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 14px;
    }

    &__info {
        font-size: 20px;
        margin: 2px 0;
    }

    #kilometros {
        font-size: 18px;
    }

    &__date {
        font-size: 18px;
        color: variables.$text-muted;
        margin-top: 4px;
    }

    &__actions {
        display: flex;
        gap: 10px;

        .btn-outline,
        .btn-solid {
            flex: 1;
            padding: 10px 0;
            border-radius: 8px;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
        }

        .btn-outline {
            background: variables.$background;
            border: 2px solid variables.$primary-hover;
            color: variables.$primary;
        }

        .btn-solid {
            background: variables.$primary;
            border: none;
            color: white;

            &:hover {
                background: variables.$primary-hover;
            }
        }

        .offer-btn {
            background: variables.$success;

            &:hover {
                background: variables.$success-hover;
            }
        }

        .btn-contact {
            display: flex;
            align-items: center;
            gap: 10px;

            &__icon {
                margin-left: 15px;
                width: 30px;
                height: 30px;
            }

            span {
                font-size: 16px;
            }
        }

    }
}

/* VARIANTE: OFREZCO */
.offer {
    border-left: 10px solid variables.$success;

    .service-card__tag {
        color: variables.$success;

        &::before {
            background: variables.$success;
        }
    }
}

/* =========================
   VARIANTE SOLICITUD
========================= */
.solicitud-card {
    border-left: 10px solid variables.$tertiary;

    .service-card__tag {
        color: variables.$tertiary;

        &::before {
            background: variables.$tertiary;
        }
    }

    .btn-contact {
        display: flex;
        align-items: center;
        gap: 10px;
        background: variables.$tertiary;
        // color: variables.$primary;

        &:hover {
            background: variables.$tertiary-hover;
        }

        &__icon {
            margin-left: 15px;
            width: 30px;
            height: 30px;
        }

        span {
            font-size: 20px;
        }
    }

    #recoleccion {
        strong {
            font-size: 20px;
            font-weight: 500;
        }

        font-size: 18px;
    }

     &__inventario {
        strong {
            font-size: 20px;
            font-weight: 700;
            color: variables.$primary;
        }
        
        font-size: 18px;
        color: variables.$text;
        line-height: 1.4;
        margin-top: 6px;
    }

}

/* RESPONSIVE  */
@media (max-width: 600px) {
    .service-card {
        width: 100%;
        max-width: 650px;
        margin: 0;

        &__title {
            gap: 10px;
            margin-bottom: 20px;
        }

        &__tag {
            font-size: 30px;

            &::before {
                width: 20px;
                height: 20px;
            }
        }

        &__route {
            font-size: 24px;
            margin-top: 10px;
            margin-bottom: 0px;
        }

        &__info {
            font-size: 24px;
        }

        &__date {
            font-size: 20px;
        }
    }

    .solicitud-card {
        #solicitud {
            strong {
                font-size: 21px;
                font-weight: 500;
            }

            font-size: 18px;
        }

        &__inventario {
            font-size: 14px;
        }

    }
}