@use "../utils/variables";

.service-card {
    width: 100%;
    max-width: 420px;
    background: variables.$background;
    padding: 18px;
    border-radius: 10px;
    font-family: variables.$font-text;
    color: variables.$primary;
    margin: 20px auto;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    border-left: 10px solid variables.$primary;
    border-top: 1px solid variables.$text-muted;
    border-bottom: 1px solid variables.$text-muted;
    border-right: none;

    display: flex;
    flex-direction: column;

    &__title {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }

    &__tag {
        display: inline-block;
        background: variables.$primary-hover;
        color: white;
        border-radius: 10px;
        font-size: 26px;
        font-weight: 600;
        text-align: center;
        width: 120px;
        height: 40px;
        line-height: 40px;
        margin-bottom: 10px;
    }

    &__route {
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 14px;
        font-weight: 600;
    }

    &__info {
        font-size: 20px;
        margin: 2px 0;
    }

    &__date {
        font-size: 18px;
        margin-top: 4px;
        color: variables.$text-muted;
    }

    &__actions {
        display: flex;
        gap: 10px;

        .btn-outline,
        .btn-solid {
            flex: 1;
            padding: 10px 0;
            border-radius: 8px;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
        }

        .btn-outline {
            background: variables.$background;
            border: 2px solid variables.$primary-hover;
            color: variables.$primary;
        }

        .btn-solid {
            background: variables.$primary;
            border: none;
            color: white;

            &:hover {
                background: variables.$primary-hover;
            }
        }

        .offer-btn {
            background: variables.$success;

            &:hover {
                background: variables.$success-hover;
            }
        }
    }
}

/* VARIANTE: OFREZCO */
.offer {
    border-left: 10px solid variables.$success;

    .service-card__tag {
        background: variables.$success;
    }
}

/* RESPONSIVE  */
@media (max-width: 600px) {
    .service-card {
        width: 100%;
        max-width: 600px;
        &__title {
            gap: 10px;
            margin-bottom: 20px;
            align-items: center;
        }

        &__tag {
            font-size: 26px;
            width: 120px;
            height: 50px;
            line-height: 50px;
        }

        &__route {
            font-size: 24px;
            margin-top: 10px;
            margin-bottom: 0px;
        }

        &__info {
            font-size: 24px;
        }

        &__date {
            font-size: 20px;
        }
    }
}