@use "../utils/variables";

.trial-success-modal {
    width: 100%;
    max-width: 520px;
    background: #fff;
    border-radius: 16px;
    padding: 28px 22px;
    display: flex;
    flex-direction: column;

    &__icon {
        width: 90px;
        height: 90px;
        margin: 0 auto 24px;
        border-radius: 50%;
        background: rgba(34, 197, 94, 0.12);
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 60px;
            height: 60px;
            object-fit: contain;
        }
    }

    h2 {
        font-size: 2rem;
        font-weight: 700;
        color: variables.$primary;
        text-align: center;
        margin-bottom: 5px;
    }

    &__subtitle {
        font-size: 1rem;
        color: variables.$text-muted;
        line-height: 1.6;
        text-align: center;
        margin-bottom: 20px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    #mudanza{
        color: variables.$success;
        font-weight: 600;
    }

    &__item {
        display: flex;
        align-items: flex-start;
        gap: 10px;

        img {
            width: 30px;
            height: 30px;
            object-fit: contain;
            margin-top: 2px;
            flex-shrink: 0;
        }

        span {
            color: variables.$primary;
            line-height: 1.5;
            font-size: 16px;
            text-align: justify;
        }
    }

    &__divider {
        width: 100%;
        height: 1px;
        background: rgba(0, 0, 0, 0.08);
        margin: 20px 0;
    }

    &__extra {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 30px;

        img {
            width: 30px;
            height: 30px;
            object-fit: contain;
            flex-shrink: 0;
        }

        span {
            color: variables.$text-muted;
            line-height: 1.5;
            font-size: 16px;
        }
    }

    &__button {
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 12px;
        background: variables.$success;
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.2s ease;

        &:hover {
            background: variables.$success-hover;
        }
    }
}

/* MOBILE */
@media (max-width: 540px) {
    .trial-success-modal {
        padding: 24px 18px;
    }
}