@use "../utils/variables";
@use "../utils/mixins";

.user-card {
  width: 100%;
  max-width: 650px;
  min-height: 450px;
  max-height: 450px;
  background: variables.$cards;
  padding: 30px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;

  /* Avatar */
&__avatar-wrapper {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

&__avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  /* Nombre centrado */
  &__name {
    font-family: variables.$font-title;
    font-size: 36px;
    font-weight: bold;
    color: variables.$primary;
    text-align: center;
    width: 100%;
  }

  /* Información alineada a la izquierda */
  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* Texto información */
  &__text {
    font-family: variables.$font-text;
    font-size: 24px;
    color: variables.$text-muted;
    line-height: 1.1;
    margin: 0;
  }

  /* Botones */
  &__actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;

    > * {
      width: 40px;
      height: 40px;
    }
  }

  /* RESPONSIVE */
  @media (max-width: 768px) {
    padding: 20px;

    &__name {
      font-size: 30px;
    }

    &__text {
      font-size: 24px;
    }
  }

  @media (max-width: 480px) {
    &__avatar-wrapper {
      width: 120px;
      height: 160px;
    }

    &__name {
      font-size: 26px;
    }

    &__text {
      font-size: 22px;
    }

    &__actions {
      flex-direction: row;
      align-items: center;
      gap: 0px;
    }
  }
}